/* We need autoprefixer for its grid support. Use JSS for theme access. */
/* autoprefixer grid: on */
/* https://github.com/postcss/autoprefixer/#faq */

.Layout {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content 1fr;
  grid-template-areas:
    "appbar appbar"
    "banners banners"
    "drawer content";
  height: 100%;
}

.AppBar {
  grid-area: appbar;
}

.Banners {
  grid-area: banners;
}

.PermanentDrawer {
  grid-area: drawer;
}

.Content {
  grid-area: content;
  overflow: auto;
}
