import React, { Component } from 'react';

/**
 * {{synopsis}}
 *
 * @see /npm-mintlab-ui/storybook/?selectedKind={{category}}/{{component}}
 * @see /npm-mintlab-ui/documentation/consumer/manual/{{component}}.html
 *
 * @reactProps {Array} children
 */
export class {{component}} extends Component {
  /**
   * @ignore
   */
  static get defaultProps() {
    return {
    };
  }

  /**
   * @param {Object} prop
   */
  constructor(props) {
    super(props);
  }

  // Lifecycle methods:

  /**
   * @see https://reactjs.org/docs/react-component.html#componentdidmount
   */
  componentDidMount() {
  }

  /**
   * @see https://reactjs.org/docs/react-component.html#componentwillunmount
   */
  componentWillUnmount() {
  }

  /**
   * @see https://reactjs.org/docs/react-component.html#render
   *
   * @return {ReactElement}
   */
  render() {
    const { children } = this.props;

    return (
      <div>
        {children}
      </div>
    );
  }

  // Custom methods:

}

export default {{component}};
