import React from 'react';

/**
 * {{synopsis}}
 *
 * @see /npm-mintlab-ui/storybook/?selectedKind={{category}}/{{component}}
 * @see /npm-mintlab-ui/documentation/consumer/manual/{{component}}.html
 *
 * @param {Object} props
 * @param {Array} props.children
 * @return {ReactElement}
 */
export const {{component}} = ({ children }) => (
  <div>
    {children}
  </div>
);

export default {{component}};
